<html>

<head>
	<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../scripts/speakClient.js"></script>
	<script type="text/javascript" src="../scripts/scripts.js"></script>
	<script type="text/javascript" src="../scripts/markdown.min.js"></script>
	<script type="text/javascript" src="../scripts/jquery.animate-shadow-min.js"></script>
	<script type="text/javascript" src="../scripts/markdown.min.js"></script>
	<script type="text/javascript" src="../scripts/jquery.cookie.js"></script>
	<!--<script type="text/javascript" src="../scripts/jquery.mousewheel.min.js"></script>   -->
</head>


<body>

<!-- border decoration -->
<div class="border-decoration">
	<div class="bottom-left-corner"></div>
	<div class="bottom-right-corner"></div>
	<div class="left-side"></div>
	<div class="right-side"></div>
	<div class="bottom"></div>
	<div class="top-left-corner"></div>
	<div class="top-left-bar"></div>
	<div class="top-diagonal-bar"></div>
	<div class="top-bar"></div>
	<div class="top-right-corner"></div>
	<div class="cover"></div>
	<div class="top-left-block"></div>
	<div class="top-left-wedge"></div>
	<div class="top-fill-block"></div>
</div>

<!-- values for js -->
<span id="jsarg-entries-length" value="{{entries_length}}" type="hidden"></span>
<span id="jsarg-username" value="{{user.username}}" type="hidden"></span>

<!-- slider -->
<div id="slider-vertical" style="height:200px;" class="myslider ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
	<div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="height: 50%;"></div>
	<a class="myslider ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 50%;"></a>
</div>

<!-- screen decoration -->
<!-- <img class="screen-holo" src="https://googledrive.com/host/0B9LVk4xbDIJTODlBUkFIUlh5SGc/holo.gif" alt="hologram"/> -->
<div class="screen-glow"></div>
<div class="screen-background"></div>

<!-- topbar -->
<h1 class="mobiglas">MobiGlas</h1>
<sup class="glas-version">version CL 0.0.1</sup>

	<span class="battery">
		<span class="battery-bar"> </span>
		<span class="battery-bar"> </span>
		<span class="battery-bar"> </span>
		<span class="battery-bar"> </span>
		<span class="battery-bar"> </span>
		<span class="battery-bar"> </span>
		
		<span class="battery-bar low-o"> </span>
		<span class="battery-bar low-o"> </span>
		<span class="battery-bar low-o"> </span>
		<span class="battery-bar low-o"> </span>
	</span>

	<ul class="topbar-wrapper">
	<li id="mylog" class="topbar-option-wrapper">
		<span class="topbar-option-inner">MY LOG</span>
		<button class="topbar-option minimal" id="my-log">
		</button>
	</li>
	<a class="internal" href="#browse-logs">
		<li id="browselogs" class="topbar-option-wrapper">
			<span class="topbar-option-inner">BROWSE LOGS</span>
			<button class="topbar-option minimal" id="browse-logs">
			</button>
		</li>
	</a>
	<a class="internal" href="#login">
		<li id="login-li" class="topbar-option-wrapper">
			<span class="topbar-option-inner">LOGIN</span>
			<button class="topbar-option minimal" id="login">
			</button>
		</li>
	</a>
</ul>

	<!-- Sidebar - Create Entry -->
	<div class="sidebar">
		<!-- scrollwheel capture element -->
		<!-- <div class="scrollwheel"></div> -->
		<div class="entry entry-wrapper" id="create-entry">
			<div id="create-entry" name="createentry" class="entry entry-title">
				Create Entry
			</div>
			<div class="entry entry-content">
				<div id="audio"></div>
				<table class="markdown">
					<tr>
						<td class="markdown">
							<form method="POST">
								<input name="form-type" type="hidden" value="entry"><br>
								This editor uses <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a>.  Click for details about formatting with Markdown.
								<textarea class="markdown" id="markdown" name="markdown" rows="10" required="required"></textarea>
								<input class="create-entry-submit" type="submit" value="SUBMIT"/>
							</form>
						</td>
						<td class="markdown">
							<span class="markdown" id="markdown-converted"></span>
						</td>
					</tr>
				</table>
			</div>
		</div> <!-- Sidebar - Create Entry end -->
		
<!-- Log entries -->
<div class="log-entries"> </div>
<!-- play button -->
<svg id="play-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <path
id="video-play-3-icon" d="M256,92.481c44.433,0,86.18,17.068,117.553,48.064C404.794,171.411,422,212.413,422,255.999
s-17.206,84.588-48.448,115.455c-31.372,30.994-73.12,48.064-117.552,48.064s-86.179-17.07-117.552-48.064
C107.206,340.587,90,299.585,90,255.999s17.206-84.588,48.448-115.453C169.821,109.55,211.568,92.481,256,92.481 M256,52.481
c-113.771,0-206,91.117-206,203.518c0,112.398,92.229,203.52,206,203.52c113.772,0,206-91.121,206-203.52
C462,143.599,369.772,52.481,256,52.481L256,52.481z M206.544,357.161V159.833l160.919,98.666L206.544,357.161z"/> </svg>

<!-- screen -->
<div class="screen">
<!-- login window (hidden by default) -->
	<div class="entry entry-wrapper account-entry-wrapper" id="login">
		<div class="login-container" id="login">
			<form method="POST">
				Username<br>
				<input name="form-type" type="hidden" value="login">
				<input class="input login" type="text" name="username" required="required" autofocus><br>
				<br>
				Password<br>
				<input class="input login" type="password" name="password" required="required"><br>
				<br>
				<input type="submit">{% if login_error %}<span class="error"> Username or password is invalid.</span>{% endif %}<br>
				<br>
				Don't have a log? <a class="internal" href="#register">Make one</a>.
			</form>
		</div>
	</div>
	<!-- register entry -->
	<div class="entry entry-wrapper account-entry-wrapper" id="register">
		<div class="login-container" id="register">
			<form method="POST">
				<input name="form-type" type="hidden"value="register">
				Username*<br>
				<input class="input register" type="text" name="username" required="required"><span class="error">{% if username_is_invalid %} Username is invalid. {% endif %}{% if username_is_taken %} Username already taken. {% endif %}</span>
				<div class="username-error"></div>
				<br>
				Password*<br>
				<input class="input register" type="password" name="password" required="required"><span class="error">{% if passwords_dont_match %} Passwords don't match. {% endif %}</span><br>
				<br>
				Repeat password*<br>
				<input class="input register" type="password" name="password-repeat" required="required"><br>
				<br>
				Name of Log*<br>
				<input class="input register" type="text" name="page-name" required="required"><br>
				<br>
				Email (For password recovery only)<br>
				<input class="input register" type="text" name="email"><br>
				<br>
				<input type="submit"><br>
			</form>
		</div>
	</div>
	<!-- account created successfully entry -->
	<div class="entry entry-wrapper account-entry-wrapper" id="accountcreated">
		<div class="login-container" id="accountcreated">
			Account created successfully.
		</div>
	</div>
	<!-- Browse Logs -->
	<div class="entry entry-wrapper browse-logs-entry-wrapper" id="browse-logs">
		<div class="browse-logs-container" id="browse-logs">

		</div>
	</div>

	<!-- Page title -->
	<div class="page-title"></div>

	</div>
</div> <!-- screen end -->
	
<div class="footer">MobiLog v1.1</div>
	
<!-- sound fx -->
<audio id="menuClickSound">
	<source src="../res/audio/multimedia_pop_up_alert_tone_1.mp3"> </source>
</audio>
<audio id="menuHoverSound">
	<source src="../res/audio/tranzistor_nav.mp3"> </source>
</audio>
<audio id="screenShiftSound">
	<source src="../res/audio/subtle_tech_interface.mp3"> </source>
</audio> <!-- sound fx end -->


</body>
</html>